.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-body {
  width: 100%;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  flex: 1;
  margin: 0 5px;
  font-size: 20px;
  padding: 5px 0;
}

#timer{
  font-size: 40px;
}